:host {
  display: block;
}

.register-container {
  width: 320px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
}
